In [1]:
import pandas as pd
import numpy as np
import ast

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
# Abrimos CSV con la información de las películas 

df = pd.read_csv("movies_metadata.csv", index_col=False)

C:\Users\Laura Romero\AppData\Local\Temp\ipykernel_25140\21579640.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_metadata.csv", index_col=False)

In [3]:
df.info()

# Muchos nulos en belongs_to_collection pero se corresponden con películas que no pertenecen a una colección. 
# tambien hay nulos en homepage, que será una columna que eliminaremos porque no la usaremos para el análisis.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [53]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
df['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [4]:
# Creamos un diccionario para poder modificar original_language y poner el idioma completo, no en abreviatura

diccionario_map = {
    
    'en': 'English',
    'fr': 'French',
    'zh': 'Chinese',
    'fa': 'Persian',
    'nl': 'Dutch',
    'cn': 'Chinese (Duplicate for zh)',
    'it': 'Italian',
    'ar': 'Arabic',
    'es': 'Spanish',
    'ru': 'Russian',
    'sv': 'Swedish',
    'ja': 'Japanese',
    'de': 'German',
    'ko': 'Korean',
    'sr': 'Serbian',
    'bn': 'Bengali',
    'pt': 'Portuguese',
    'wo': 'Wolof',
    'ro': 'Romanian',
    'vi': 'Vietnamese',
    'cs': 'Czech',
    'da': 'Danish',
    'no': 'Norwegian',
    'pl': 'Polish',
    'el': 'Greek',
    'sh': 'Serbo-Croatian',
    'xx': 'Undefined/Unknown Language',
    'mk': 'Macedonian',
    'bo': 'Tibetan',
    'ca': 'Catalan',
    'fi': 'Finnish',
    'th': 'Thai',
    'sk': 'Slovak',
    'bs': 'Bosnian',
    'he': 'Hebrew',
    'tr': 'Turkish',
    'hi': 'Hindi',
    'is': 'Icelandic',
    'ps': 'Pashto',
    'eo': 'Esperanto',
    'ka': 'Georgian',
    'hu': 'Hungarian',
    'bm': 'Bambara',
    'zu': 'Zulu',
    'af': 'Afrikaans',
    'nb': 'Norwegian Bokmål',
    'la': 'Latin',
    'mn': 'Mongolian',
    'et': 'Estonian',
    'ab': 'Abkhazian',
    'ku': 'Kurdish',
    'sl': 'Slovenian',
    'tl': 'Tagalog',
    'ur': 'Urdu',
    'rw': 'Kinyarwanda',
    'id': 'Indonesian',
    'bg': 'Bulgarian',
    'lt': 'Lithuanian',
    'ta': 'Tamil',
    'ms': 'Malay',
    'sq': 'Albanian',
    'nan': 'Not a Number (invalid entry)',
    'am': 'Amharic',
    'jv': 'Javanese',
    'lv': 'Latvian',
    'ml': 'Malayalam',
    'hr': 'Croatian',
    'lo': 'Lao',
    'uk': 'Ukrainian',
    'ay': 'Aymara',
    'mr': 'Marathi',
    'ne': 'Nepali',
    'ky': 'Kyrgyz',
    'te': 'Telugu',
    'gl': 'Galician',
    'sm': 'Samoan',
    'eu': 'Basque',
    'mt': 'Maltese',
    'kk': 'Kazakh',
    'hy': 'Armenian',
    'iu': 'Inuktitut',
    'kn': 'Kannada',
    'lb': 'Luxembourgish',
    'si': 'Sinhala'
}

df['original_language'] = df['original_language'].replace(diccionario_map)

In [6]:
df['original_language']

0        English
1        English
2        English
3        English
4        English
          ...
45461    Persian
45462    Tagalog
45463    English
45464    English
45465    English
Name: original_language, Length: 45466, dtype: object

In [5]:
df['belongs_to_collection'][0]
# Cada fila dentro de esta columna contiene un string que dentro de las comillas tiene un diccionario, con id y name como 
# claves que sí nos interesan para el estudio.

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [6]:
# hacemos dos listas vacías para ir almacenando la información de los id y los nombres.

belongs_to_collection_id = []
belongs_to_collection_name = []

for fila in df['belongs_to_collection']:
    try:
        fila = ast.literal_eval(fila) # para quitar las comillas y acceder al diccionario.
        belongs_to_collection_id.append(fila['id']) # intentamos añadir el id a la lista belong_to_collection_id
        belongs_to_collection_name.append(fila['name']) # intentamos añadir el name a la lista belong_to_collection_name
    except: 
    # para que no lance una excepción si hubiera un valor nulo, lo que hacemos es si se ejecuta el except que se añada directamente el 
    # nulo a las listas belongs_to_collection_name y belongs_to_collection_id
        belongs_to_collection_name.append(fila)
        belongs_to_collection_id.append(fila)
        

# Creamos columnas belongs_to_collection_id y belongs_to_collection_name y las añadimos al dataframe. 

df['belongs_to_collection_id'] = belongs_to_collection_id
df['belongs_to_collection_name'] = belongs_to_collection_name

df.drop(columns='belongs_to_collection', inplace=True)

In [10]:
df.drop_duplicates(inplace=True)

In [7]:
df['genres'][0]

# al igual que ocurria con belongs_to_collection tenemos un string que dentro de las comillas tiene una 
# lista con diccionarios, cada uno de los cuales contiene información de cada uno de los géneros de las películas.

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [8]:
# Creo una lista vacía para almacenar los resultados

generos = []

for film_id, fila in zip(df['id'], df['genres']):
    # para ir iterando al mismo tiempo la fila film_id con las diferentes filas de cada género y no perder el id
    # Convertir el string en una lista de diccionarios con el metodo ast
    fila = ast.literal_eval(fila)
    
    # Iterar sobre cada diccionario (cada género)
    for elemento in fila:
        # Crear una tupla con el film_id (en este caso idx) y el id y name del género
        generos.append((film_id, elemento['id'], elemento['name']))
        # guardamos informacion del film_id, del id de cada genero, y del nombre de cada genero en tuplas

# convertimos a un dataframe, que tendrá informacion del id de la pelicula, el id del genero y el nombre del genero.
 
df_genres = pd.DataFrame(generos, columns=['id', 'genre_id', 'genre_name'])

# Mostrar el resultado
df_genres

           id  genre_id genre_name
0         862        16  Animation
1         862        35     Comedy
2         862     10751     Family
3        8844        12  Adventure
4        8844        14    Fantasy
...       ...       ...        ...
91101  439050     10751     Family
91102  111109        18      Drama
91103   67758        28     Action
91104   67758        18      Drama
91105   67758        53   Thriller

[91106 rows x 3 columns]

In [9]:
df_genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91106 entries, 0 to 91105
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          91106 non-null  object
 1   genre_id    91106 non-null  int64
 2   genre_name  91106 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.1+ MB

In [10]:
# Para tener toda la informacion en el mismo dataframe realizamos un merge del df_genres con el df inicial, usando como columna
# común id

df_merge = pd.merge(df,df_genres, on = 'id')

# eliminamos la columna genres porque ya hemos extraido la información. 

df = df_merge.drop(columns='genres')

In [11]:
df.drop_duplicates(inplace=True)

In [12]:
df['production_countries'][0]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [14]:
df.shape

(91074, 26)

In [15]:
# Crear listas vacías para almacenar los resultados
production_countries_tuples = []

for film_id, fila in zip(df['id'], df['production_countries']):
# iteramos al tiempo production_companies_id y production_countries
    try:
        # Convertir el string en una lista de diccionarios
        fila = ast.literal_eval(fila)
        
        # Iterar sobre cada diccionario (cada género)
        for elemento in fila:
            # Crear una tupla con el film_id  y el id y name del género
            production_countries_tuples.append((film_id,elemento['name']))
    except:
        production_countries_tuples.append((film_id, elemento))
        

# Convertir la lista de tuplas a un DataFrame si lo deseas
df_countries_companies = pd.DataFrame(production_countries_tuples, columns=['id', 'country_name'], index=None)

df_countries_companies

            id              country_name
0          862  United States of America
1          862  United States of America
2          862  United States of America
3         8844  United States of America
4         8844  United States of America
...        ...                       ...
105422  439050                      Iran
105423  111109               Philippines
105424   67758  United States of America
105425   67758  United States of America
105426   67758  United States of America

[105427 rows x 2 columns]

In [19]:
# si no guardo y reabro me da error "unhashable type dict"
df_countries_companies.to_csv("merge.csv", index=False)
df_countries_companies = pd.read_csv("merge.csv")

In [20]:
df_countries_companies.drop_duplicates(inplace=True)

In [21]:
df_countries_companies.shape

(48363, 2)

In [23]:
df_merge = df.merge(df_countries_companies, on='id')

In [26]:
# Comprobamos que no tenemos ya duplicados
df_merge.duplicated().sum()

0

In [ ]:
# eliminamos estas columnas 
df_merge.drop(columns=['homepage', 'poster_path', 'tagline', 'video', 'spoken_languages', 'production_companies', 'production_countries'], inplace=True)

In [31]:
# Guardamos en un csv
df_merge.to_csv("clean_completo.csv", index=False)